<header-directive></header-directive>

<div class="row" style="margin-top: 20px">
    <div class="col-md-3">

    </div>
    <div class="col-md-6" style="background-color: #d6e9c6; padding: 15px; border-radius: 5px; text-align:center">
        <h2>Local-Storage Example</h2>
        <button class="btn btn-success" ng-click="save()">Save</button>
        <button class="btn btn-primary" ng-click="load()">Load</button>
        <button class="btn btn-info" ng-click="serverCall1()">Call-1</button>
        <button class="btn btn-danger" ng-click="serverCall2()">call-2</button>
        <br>

        <button class="btn btn-success" ng-click="serverCall3()">call-3</button>
        <button class="btn btn-primary" ng-click="serverCall4()">call-4</button>
        <br>

        {{data}}

    </div>
    <div class="col-md-3">

    </div>
</div>


